
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#login-page {
    background-color: #282828;
    height: 100%; width: 100%;
    text-align: center;
}
#login {
    padding: 15%;
    margin: auto;
}

#header {
    font-size: calc(20px + 10vmin);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 20px;
}

#fb-btn {
    padding: 10px;
    background-color: #4267B2;
    color: white;
    border-radius: 30px;
    font-size: calc(5px + 3vmin);
    border: 3px solid #282828;
}

@media all and (max-width: 680px) {
    #header {
        font-size: calc(5px + 10vmin);
    }
}
#spinner-container {
    margin: auto;
    padding-top: 25%;
    width: 100px;
    height: 100px;
}

#spinner {
    display: inline-block;
    width: 100px;
    height: 100px;
    content: " ";
    display: none;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: none;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveit{
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
        display: none;
    }
}

#warning-msg {
    color: red;
    background-color: white;
}

#main-content {
    /* display: none; */
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;
}

header {
    color: white;
    background-color: #282828;
    height: 5rem;
    font-size: calc(40px + 4vmin);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}

.card {
    margin: 10px;
    width: 24rem;
    height: 14.5rem;
    border-radius: 40px;
    overflow: hidden;
}

.card:hover {
    background-color: gray;
}

.card-header {
    background-color: grey;
    height: 2.5rem;
    color: white;
    font-weight: bold;
    overflow: auto;
    text-align: center;
    font-size: calc(15px + 2vmin);
    bottom: 0px;
    position: relative;
}

img {
    width: 100%;height: 12rem;
}

.yt-card {
    margin: 10px;
    width: 24rem;
    height: 14rem;
    border-radius: 40px;
    background-color: lightblue;
    overflow: hidden;
}

.hover {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 24rem;
    height: 14rem;
    z-index: 10;
    border-radius: 39px;
    display: none;
    color: white;
    text-align: center;
}

#youtube-content {
    display: none;
    background-color: #F8F9F9;
    padding-top: 40px;
    color: #282828;
}

#youtube-headers {
    color: lightgray;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-left: 5%;
}

#latest-videos, #popular-videos {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}